body {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 100px; /* add 100px padding to the left and right sides */
  width: 100%;
  background: rgb(35,35,36);
  background: linear-gradient(160deg, rgba(35,35,36,1) 0%, rgba(35,35,36,1) 18%, rgba(54,54,57,1) 100%);
  overflow-x: hidden;
}
